<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <title>change password</title>
    <link rel="stylesheet" href="../static/css/style_pro.css" type="text/css" media="all">
    <link rel="shortcut icon" href="../static/images/favicon.png">
    <script src="../static/js/judge_uppassword.js"></script>
</head>

<body>
<div class="container">

    <div class="header">
        <div class="text-center m-b-15">
            <img src="../static/images/favicon.png">
        </div>
        <h3 class="text-center m-t-0 m-b-25">Change Password</h3>
    </div>
    <div class="profile-block">
        <div class="profile-block__left">
            <div class="form-group ">
                <div class="center-block">
                    <img src="../static/1.jpg" class="img-thumbnail" alt="Responsive image">
                </div>
            </div>

            <form method="post" id="form_submit">

                {% csrf_token %}

                <div class="update_password">
                    <span id="checkpassword"> </span>

                    <span id="check_oldpassword"> </span>
                    <div class="form-group ">
                        {{ form2.old_pwd }}
                        <div class="error">
                            {{ oldPasswordWrong }}
                        </div>
                    </div>

                     <span id="check_newpassword"> </span>
                    <div class="form-group ">
                        {{ form2.new_pwd }}
                        <span class="error" id="newPasswordTooShort"></span>
                        <div class="error">
                            {{ newPasswordTooShort }}
                        </div>
                    </div>

                    <span id="check_passwordconfirm"> </span>
                    <div class="form-group ">
                        {{ form2.new_pwd_confirm }}
                        <span class="error" id="passwordNotMatch"></span>
                        <div class="error">
                            {{ passwordNotMatch }}
                        </div>
                    </div>


                    <div class="success">
                        {{ passwordChangeSuccess }}
                    </div>
                    <div class="form-group " align="center">
                        <input name="Update" type="submit" class="btn btn-success" onclick="return checkpassword();"
                               value="Update">
                        <input name="Return" class="btn btn-success" type="submit" class="btn btn-primary btn-block"
                               value="Return">
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>
